.header{
    position: static;
}

.movie_details{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    gap: 2em;
    margin: 0 15em 0;
    &_img{
        img{
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }
    }
}


.back{
    background: $White-rgba;
    margin-left: 2em;
    padding: 0 0.4em 0.2em;
    color: $White;
    font-size: 1.5em;
    width: fit-content;
    height: fit-content;
    border-radius: 100%;
    text-decoration: none;
    color: $White;
    &:hover{
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease-in;
        transition: all 300ms ease;
        color: $Very-dark-unsaturated-black;
    }
}

.download{
    background: greenyellow;
    color: $Very-dark-unsaturated-black;
    width: fit-content;
    padding: 0.8em;
    font-size: 1.5em;
    text-decoration: none;
    &:hover{
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease-in;
        transition: all 300ms ease;
        background: rgb(132, 197, 35);
        padding: 0.6em;
    }
}

@media screen and (max-width: 769px) {
    .movie_details{
        flex-direction: column;
        text-align: justify;
        margin: 0 5em 0;
    }
}